/* Общие стили */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading-title {
    color: black;
}

.container {
    border: none;
    margin: 10px auto;
    padding: 10px;
}

/* Стили для секций */
section {
    border: 1px solid black;
    background-color: gray;
    border-radius: 0.5rem;
    width: 100%;
    height: 200px;
    color: black;
    position: relative;
    overflow: auto;
}

#chicken, #beef, #sushi {
    border: 1px solid black;
    border-radius: 0.5rem;
    text-align: center;
    width: 30%;
    margin-left: 70%;
    font-weight: bold;
    font-size: 125%;
    padding: 5px;
}

#chicken {
    background-color: hsl(1, 42%, 72%);
}

#beef {
    background-color: #C14643;
}

#sushi {
    background-color: #E5D198;
}

p {
    padding: 15px;
    margin: 0;
}

/* Сетка для элементов на разных устройствах */
@media(min-width: 992px) {
    .container .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .container .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container .row {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Стили для навигационного текста */
#nav-text a {
    text-align: center;
}
